@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(31, 31, 31);
    color: white;
    padding: 15px 0;
}

.hcontainer{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.hcontainer a{
    color: white;
    text-decoration: none;
}

#infoPrincipal{
    margin: 35px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#conciertos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    width: 100%;
    gap: 15px;
    margin: 15px 0;
}

main{
    padding: 0 15px;
    max-width: 1400px;
    margin: 25px auto;
}

.card-concierto{
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
    gap: 15px;
    text-decoration: none;
    color: black;
}

.card-concierto:hover{
    background-color: rgb(204, 204, 204);
}

.card-concierto img{
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.card-concierto:hover img{
    transform: scale(1.02);
    transition: .5s;
}

.card-concierto h3{
    font-size: 1.15rem;
}


.card-concierto h4{
    font-size: 1.05rem;
    font-weight: 600;
}

.card-concierto p{
    font-size: 0.95rem;
}

.card-concierto span{
    font-weight: 500;
}

.formularios{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

#formRegistro{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    padding: 30px;
    border-radius: 15px;
    background-color: rgb(235, 235, 235);
}

#formRegistro input{
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    
}

#formRegistro p{
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    color: #058822;
    text-align: right;
}

#formInicio{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 30px;
    border-radius: 15px;
    background-color: rgb(235, 235, 235);
}

#formInicio input{
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
}

#formInicio p{
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    color: #ca0000;
}


#formInicio input[type=submit], #formRegistro input[type=submit]{
    margin-top: 15px;
    background-color: #666666;
    border: none;
    color: white;
    padding: 10px 0;
}

#formInicio input[type=submit]:hover, #formRegistro input:hover[type=submit]{
    
    background-color: #111111;
   
}

/* Remueve la parte del input numbers donde se muestran
las flechas para subir o disminuir valor, de igual manera
con el scroll sigue pudiendose subir el valor del numero */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.card-concierto-adentro{
    width: 100%;
    display: flex;
    padding: 25px;
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
    gap: 15px;
    text-decoration: none;
    color: black;
}

.card-concierto-adentro img{
    max-width: 250px;
    object-fit: contain;
}

#hola{
    width: 100%;
}

#chau{
    margin-top: 1vh;
}
.descripciones{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

#metodo-de-pago{
    width: 50%;
}

.mdepago{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.mdepago label{
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
}



.mdepago label:nth-child(2){
    background-color: rgb(88, 88, 88);
    
}

.mdepago label:nth-child(4){
    background-color: #00B1EA;
}

.mdepago label:nth-child(6){
    background-color: #00447c;
}

.mdepago label:hover{
    filter: brightness(0.95);
}
.mdepago input:checked + label {
    border: 3px solid rgb(0, 0, 0);
  }
  

input[type=radio]{
    display: none;
}

.estadio-img{
    
    width: 300px;
}

.elegir{
    display: flex;
    margin-top: 30px;
    gap: 25px;
}

.botones{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.botones label{
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(235, 235, 235);
    
}

.botones label:hover{
    background-color: rgb(212, 212, 212);
    
}

.botones input:checked + label {
    background-color: rgb(95, 95, 95);
    color: white;
  }

  .number-input-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0;
}

.number-input {
    width: 50px;
    text-align: center;
    border: 1px solid #cccccc3d;
    font-size: 1.5rem;
}

.number-input-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.3rem;
    height: 2.3rem;
    border: none;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    padding: 5px;
}

.number-input-button:active {
    background-color: #ddd;
}

.number-input-button:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.number-input-button:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#precio p{
    font-size: 1.5rem;
}

#submitCompra{
    margin-top: 15px;
    padding: 15px 50px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    background-color: rgb(206, 206, 206);
    color: white;
}



#submitCompra.completed{
    margin-top: 15px;
    padding: 15px 50px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    background-color: rgb(63, 156, 0);
    color: white;
    cursor: pointer;
}

#submitCompra.completed:hover{
    margin-top: 15px;
    padding: 15px 50px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    background-color: rgb(50, 124, 0);
    color: white;
    cursor: pointer;
}



#loginbutton::before{
 content: "Iniciar sesión";
 margin: 0 15px;
}

#contenedor-de-cards{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contenedor-de-cards b{
    font-weight: 600;
}

#noEncontrado{
    position: absolute;
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card-compras{
    display: flex;
    padding: 25px;
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
    gap: 15px;
    text-decoration: none;
    color: black;
    position: relative;
    width: 100%;
}

.card-compras:hover{
    scale: 1.005;
    transition: 0.3s ease-out;
}

.card-compras img{
    height: 200px;
    min-width: 500px;
    object-fit: cover;
}

.divTextoCompras{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.divTextoCompras h2{
    padding-right: 50px;
}

.divTextoCompras h3{
    font-weight: 500;
}

.debajoArtista{
    display: flex;
    justify-content: space-between;
}

.debajoArtista span{
    font-weight: 500;
    font-size: 1.4rem;
}

.precioCompras{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.borrar-compra{
    position: absolute;
    right: 0;
    margin-right: 25px;
    
}

.borrar-compra:hover i{
    color: red !important;
    
}

#perfilDiv{
    margin: 0 auto;
    display: flex; 
    width: 50%;
    flex-direction: column;
    justify-content: center;
     align-items: center; 
     padding: 50px 30px; 
     background-color: rgb(235, 235, 235); 
    border-radius: 15px;
    gap: 40px;
}

.divCambiarUsuario{
    display: flex;
    align-items: center;
    gap: 5px;
}

.divCambiarUsuario input{
    
    padding: 5px 10px;
    
    border-radius: 5px;
   
}

.divCambiarUsuario button{
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    background-color: #535353;
    color: white;
}

.divCambiarUsuario button:hover{
    
    background-color: #428550;
    color: white;
}

.divCambiarUsuario button:nth-child(6):hover{
    
    background-color: #ec1d0e;
    color: white;
}

.logout{
    margin-left: 5px;
    padding: 15px 50px;
    border: none;
    border-radius: 15px;
    background-color: #b80c00;
    color: white;
    cursor: pointer;
}

.logout:hover{
   
    background-color: #a10b00;

}

